* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.Container{
  margin: 20px auto;
}
.parent {
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;
}
.calendar-button :hover{
  background: red;
  border-radius: 4px;
}
.date-picker {
  width: 78%;
  height: 60px;
  border: 3px solid black;
  font-size: 2em;
  padding-left: 18px;
  border-right: 0;
}
::placeholder {
  color: black;
  font-size: 1em;
  padding: 18px 18px 18px 0;
  font-family: "Lato";
}
.calendar-button {
  width: 72px;
  border: 3px solid black;
  cursor: pointer;
}
.calendar-img {
  width: 50px;
}
.lato-regular {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}
.calendar {
  position: relative;
  border: 3px solid #333;
  width: 99%;
  margin-top: 4px;
}
.calendar-days div{
  font-size: 24px;
}
.calendar-head {
  margin-top: 10px;
  text-align: center;
}
.fa-caret-right {
  position: absolute;
  right: 18px;
  top: 2px;
  font-size: 3em;
}
.fa-caret-left {
  position: absolute;
  left: 18px;
  top: 2px;
  font-size: 3em;
}
.months{
  font-family: "Lato";
  font-size: 26px;
}
.calendar-dates, .calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.calendar-days {
  border-bottom: 3px solid #000000;
  padding-bottom: 12px;
  margin-top: 10px;
  font-family: 'Lato';
  margin-top: 16px;
}
.calendar-dates div {
  padding: 6px;
  border-bottom: 3px solid rgb(99, 98, 98);
  border-right: 3px solid rgb(110, 109, 109);
  height: 56px;
}
.calendar-dates div:nth-child(35){
  border-bottom: 0px;
}
.calendar-dates div:nth-child(7n){
  border-right: 0px;
}
.calendar-dates div:nth-child(29), 
.calendar-dates div:nth-child(30),
.calendar-dates div:nth-child(31), 
.calendar-dates div:nth-child(32),
.calendar-dates div:nth-child(33),
.calendar-dates div:nth-child(34){
  border-bottom: 0px;
}
.calendar-dates div p{
  font-weight: 500;
  font-size: 24px;
  font-family: "Nunito Sans";
  position: relative;
  top: 20px;
}
@media screen and (min-width:768px){
  .Container{
    width: 74%;
  }
  .parent{
    height: 4em;
  }
  .date-picker{
    width: 88%;
  }
  .calendar-button{
    width: 12%;
  }
  .calendar{
    width: 99%;
    margin-top: 10px;
  }
  .fa-caret-left{
    font-size: 4em;
    top: 4px;
    left: 24px;
  }
  .fa-caret-right{
    font-size: 4em;
    top: 4px;
    right: 28px;
  }
  .months{
    font-size: 42px;
  }
  ::placeholder{
    font-size: 34px;
  }
  .date-picker{
    height: auto;
  }
  .calendar-dates div {
    font-size: 30px;
    height: 84px;
    position: relative;
  }
  .calendar-days div{
    font-size: 38px;
  }
  .calendar-days{
    margin-top: 24px;
  }
  .calendar-head{
    margin-top: 10px;
  }
  .calendar-dates div p{
    font-size: 34px;
  }
}
@media screen and (min-width:1024px) {
  .Container{
    width: 100%;
    max-width: 600px;
    margin: 80px auto 80px auto ;  
  }
}